@use 'colors' as c;

.circle-nav {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 75%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  z-index: 100;

  & a {
    text-decoration: none;
    color: unset;
    font-size: 1rem;

    &.active {
      font-weight: 600;
      color: c.$orange;
    }
  }
}
