@use 'colors' as c;

.project-topbar {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}

.page-main-header {
  font-size: 4em;
  text-align: center;
  flex-basis: 50%;
}

.topbar {
  margin-top: 1em;
  background-color: c.$dark-blue;
  width: 32em;
  padding: 1em 0.5em;
  border-radius: 10px;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8);

  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    li {
      list-style: none;
    }

    a {
      color: c.$gray;
      text-decoration: none;
      position: relative;

      &.active {
        color: c.$orange;
      }
      &.active::before {
        content: '';
        border: 1px solid c.$gray;
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
      }
    }
  }
}

.project-item {
  margin: 1em;
  padding: 1em;
  width: 80vw;
  overflow: hidden;
  background-color: c.$navy-blue;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8);

  #{&}-header {
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: c.$gray;
    text-shadow: 1px 1px 3px c.$dark-blue;
  }

  #{&}-content {
    flex-basis: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 0.9em;
  }

  #{&}-image-wrapper {
    flex: 1;
    width: 100%;
    height: 250px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  #{&}-text-wrapper {
    padding-top: 1.5em;
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    a {
      color: c.$gray;
    }
  }

  #{&}-text-group {
    flex-basis: 20%;
    margin-bottom: 1em;
    font-size: 1em;
    color: c.$gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .project-item-text-group-header {
      justify-self: flex-end;
      flex-basis: 20%;
      font-size: 1.15em;
      font-weight: 500;
    }

    .project-item-text-group-content {
      font-weight: 200;
      line-height: 1.5em;
      flex-basis: 50%;
    }
  }
}
