.contactMe {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: relative;

  #{&}__headerText {
    text-align: center;
  }
}