.gallary-container {
  position: relative;
  width: 80%;
  height: 75vh;
  background-color: #efefef;
  z-index: 11;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #00000088;
  padding: 2em;
  .top-gallary-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
  }

  .close-btn {
    color: inherit;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      color: #000;
      opacity: 0.5;
    }
    &:active {
      opacity: 1;
    }
  }
  .imageWrapper {
    max-width: 90%;
    max-height: 70vh;
    width: 90vw;
    height: 79vh;
    overflow: hidden;
    img {
      width: 100%;
      height: 70vh;
      object-fit: contain;
      object-position: center;
    }
  }
}
